/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;}


/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c3e50;
    border-radius: 10px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}